.App {
  padding: 30px;
  text-align: center;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 200px;
  margin: 40px auto;
}

.cardDeck {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
